.custom-button {
   min-width: 165px;
   max-width: 220px;
   height: 50px;
   letter-spacing: 0.5px;
   line-height: 50px;
   padding: 0 35px 0 35px;
   font-size: 15px;
   background-color: #222327;
   color: white;
   text-transform: uppercase;
   font-family: inherit;
   font-weight: bolder;
   border: 1px solid #c9ba8e;
   cursor: pointer;
   display: flex;
   justify-content: center;

   &.slide {
      margin-left: 0;
      transition: margin 0.5s;

      @media (min-width: 800px) {
         margin: 2rem 0.5rem 2rem 3rem;
      }

      @media (min-width: 1150px) {
         margin: 2rem 0 2rem 3rem;
      }
   }

   &:hover {
      background-color: #c9ba8e;
      color: black;
      border: none;
   }
}
