.header {
   height: 50px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   background-color: #22232770;
   position: fixed;
   z-index: 10;

   &__logo {
      height: 1.5rem;
      width: auto;
      margin: 0 10px;
   }

   @media (min-width: 1145px) {
      .burger {
         display: none;
      }
   }
}
